@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Light mode */
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;

  /* DARK MODE  */
  --color-slate-800: #222222; /* surfaces */
  --color-slate-900: #111111; /* main background */
  --color-slate-950: #1a1a1a; /* deepest */
}
